<h1>Activities</h1>

<h3>Family</h3>
<ul>
  <li>
    <strong>Georgia Aquarium</strong>
    <ul>
      <li><%= link_to "Website", "http://www.georgiaaquarium.org" %></li>
      <li><%= link_to "Map", "https://www.google.com/maps/place/Georgia+Aquarium/@33.763382,-84.39511,17z/data=!3m1!4b1!4m2!3m1!1s0x88f5047e45f40419:0xfed77076a9af4adc" %></li>
    </ul>
  </li>
  <li>
    <strong>World of Coke</strong>
    <ul>
      <li><%= link_to "Website", "http://www.worldofcoca-cola.com" %></li>
      <li><%= link_to "Map", "https://www.google.com/maps/place/World+of+Coca-Cola/@33.762816,-84.392901,17z/data=!3m1!4b1!4m2!3m1!1s0x88f5047eecc828f3:0x4401b29a011fa7c9" %></li>
    </ul>
  </li>
  <li>
    <strong>Centennial Olympic Park</strong>
    <ul>
      <li><%= link_to "Website", "http://www.centennialpark.com" %></li>
      <li><%= link_to "Map", "https://www.google.com/maps/place/Centennial+Olympic+Park/@33.760771,-84.39315,17z/data=!3m1!4b1!4m2!3m1!1s0x88f5047f74cb9e1d:0x49502c30010755d2" %></li>
    </ul>
  </li>
  <li>
    <strong>CNN Cetner</strong>
    <ul>
      <li><%= link_to "Website", "http://www.centennialpark.com" %></li>
      <li><%= link_to "Map", "https://www.google.com/maps/place/CNN+Center/@33.760771,-84.39315,17z/data=!4m6!1m3!3m2!1s0x88f5047f74cb9e1d:0x49502c30010755d2!2sCentennial+Olympic+Park!3m1!1s0x0000000000000000:0xa22ac71390f711d3" %></li>
    </ul>
  </li>
</ul>

<h3>Athletics</h3>
<ul>
  <li>
    <strong>Braves Baseball Game</strong>
    <ul>
      <li><%= link_to "Website", "http://atlanta.braves.mlb.com/" %></li>
      <li><%= link_to "Map", "https://www.google.com/maps/place/Atlanta+National+League+Baseball/@33.736728,-84.388852,17z/data=!3m1!4b1!4m2!3m1!1s0x88f503a25f89305f:0xd9a0c072c1496ebc" %></li>
    </ul>
  </li>
  <li>
    <strong>College Football Hall of Fame</strong>
    <ul>
      <li><%= link_to "Website", "http://www.cfbhall.com" %></li>
      <li><%= link_to "Map", "https://www.google.com/maps/place/College+Football+Hall+of+Fame/@33.760551,-84.395771,17z/data=!3m1!4b1!4m2!3m1!1s0x88f5047fdcc91935:0xf8554bbdae024352" %></li>
    </ul>
  </li>
</ul>
