<!DOCTYPE html>
<html lang="en"><head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "Cheeks" %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<!-- NAVBAR
================================================== -->
  <body class="<%= controller.controller_name %> <%= controller.action_name %>">
    <div id="wrap">
      <div class="navbar-wrapper">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </div>

      <!-- header
      ================================================== -->
      <div id="header-content">

      </div><!-- / header -->

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">
        <div class="row">
          <div class="col-sm-12">
            <%= yield %>
          </div>
        </div>

      </div><!-- /.container -->
    </div><!-- / wrap -->
    <%= render 'layouts/footer' %>

</body>
</html>
